*{
  padding: 0;
  margin: 0;
}

h2{
  margin: 0.3em 1.5em;
  font-size: 2.75em;
  text-align: center;
}

#preto{
  background: #000;
  height: 35px;
}

#ladoEsq{
  background: #380f6b;
  color: #fff;
  width: 12.5%;
}
#filtros{
  padding: 0 0.5em;
}

#separador{
  display: flex;
}

#sec_lanc{
  background: #f1ea93;
}

#lancamentos{
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
  justify-content: space-evenly;
}

.lancamento{
  margin: 1em 1em;
  padding: 0.5em;
  border: 2px solid#380f6b;
  text-align: left;
  width: 40%;
  background: #f8f5cc;
}
.titulo{
    font-size: 1.3em;
    font-weight: bold;
}
.lancamentoDiv{
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 1em;
}

.home__img--fav{
  margin-right: 5em;
  width: 20px; height: 20px;
}
.home__img--fav:hover{
  cursor: pointer;
}

.home__div--fav{
  display: flex;
  flex-direction: column;
}
#home__filtros--h3{
  text-align: center;
}

.home__filtros_individual{
  margin-top: 2em;
}